body{
    background-color: black;
    color: white;
    font-family: 'poppinsregular';
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    width: 30%;
}

li{
    flex-direction: column;
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    background-color: #3333;
    color: rgb(212, 89, 7);
    transition: all 200ms ease-in ;
    border-bottom: 4px solid rgb(212, 89, 7);
}

#inscreva-se-btn{
    border: 2px solid rgb(212, 89, 7);
    padding: 10px;
    border-radius: 15px;
}

#inscreva-se-btn:hover{
    background-color: rgb(212, 89, 7);
    color: white;
}

h1{
    font-weight: 200px;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: 'poppinsmedium';
}

span{
    color: rgb(212, 89, 7);
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img{
    width: 500px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(212, 89, 7);
    color: white;
    font-weight: bold;
}
form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}
#logo {
    flex-direction: column;
    width: 60%;
}
#logo2 {
    display: flex;
    justify-content: space-between;
    margin-left: 90px;
    margin-top: -90px;
}
